 @charset "UTF-8";
/* CSS Document */

/*
body {
	height:100%;
	width:100%;
	margin:0;
    background-image: linear-gradient(328deg, rgba(255, 247, 221, 0.5) 0%, rgba(241, 211, 255, 0.6) 100%), url('images/bgtile.png');
    background-attachment: fixed;
}

header {
	width:100%;
}

.nav {
    font-family: lato;
    float:left;
    font-weight:300;
    color: rgb(120, 120, 120);
    margin:20px 10px 20px 0;
    font-size:1.5em;
}

#wrapper {
	width:90%;
	position:relative;
	margin:0 auto;
	max-width:1020px;
}
*/
.stagewrap {
	width:100%;
	height:auto;
	float:left;
	clear:both;
	position:relative;
}


.sec-wrapper {
	width:100%;
}

.sec {
    float: left;
	background: #ecfeff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZWNmZWZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmYmNmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(45deg, #ecfeff 0%, #ffbcff 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#ecfeff), color-stop(100%,#ffbcff));
	background: -webkit-linear-gradient(45deg, #ecfeff 0%,#ffbcff 100%);
	background: -o-linear-gradient(45deg, #ecfeff 0%,#ffbcff 100%);
	background: -ms-linear-gradient(45deg, #ecfeff 0%,#ffbcff 100%);
	background: linear-gradient(45deg, #ecfeff 0%,#ffbcff 100%);
    box-shadow: rgba(0, 0, 0, 0.258824) 0px 0px 0px 10px inset;
    font-size: 1.2em;
    color: rgb(120, 120, 120);
    width: 22%;
    height: auto;
    min-height:200px;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin: 40px 5% 0 0;
    clear: none;
    font-family: lato;
    padding: 4%;
}

.sec-wrapper > :last-child {
	margin-right:0 !important;
}

footer {
    font-family: lato;
    width:100%;
    text-align:right;
    font-weight:300;
    color: rgb(120, 120, 120);
    margin:20px 10px 20px 0;
    font-size:1em;
    clear:both;
    padding:20px 0;
}

@media only screen and (max-width: 786px) {

.sec {
    float: left;
	background: #ecfeff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZWNmZWZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmYmNmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(45deg, #ecfeff 0%, #ffbcff 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#ecfeff), color-stop(100%,#ffbcff));
	background: -webkit-linear-gradient(45deg, #ecfeff 0%,#ffbcff 100%);
	background: -o-linear-gradient(45deg, #ecfeff 0%,#ffbcff 100%);
	background: -ms-linear-gradient(45deg, #ecfeff 0%,#ffbcff 100%);
	background: linear-gradient(45deg, #ecfeff 0%,#ffbcff 100%);
    box-shadow: rgba(0, 0, 0, 0.258824) 0px 0px 0px 10px inset;
    font-size: 1.2em;
    color: rgb(120, 120, 120);
    width: auto;
    height:100px;
    min-height:0;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin: 20px 0 0 0;
    clear: both;
    font-family: lato;
    padding: 4%;
	}

.nav {
    font-family: lato;
    width:100%;
    text-align:center;
    font-weight:300;
    color: rgb(120, 120, 120);
    margin:10px 10px 20px 0;
    font-size:1.5em;
    clear:both;
}

header > :first-child {
	margin-top:30px !important;
}



 .edgeLoad-EDGE-124939132 { visibility:hidden; }